<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassCraft</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Unicon Icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <script src="script.js" defer></script>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='components/icons/icone.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <header class="header-login">
        <div class="d-flex justify-content-start">
            <img class="cabecalho-imagem" src="/static/components/images/logo.svg" alt="PassCraft Logo">
            <h1 class="nome-cabecalho" row><b>PassCraft</b></h1>
        </div>
    </header>

    <main class="painel-main">
        <div class="menu-lateral">
            <div class="logo"></div>
            <ul class="menu">
                <li>
                    <a href="/painel-minhas-senhas">
                        <img src="/static/components/images/cadeado_senha.png" alt="PassCraft Logo">
                        <span>Minhas senhas</span>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <img src="/static/components/images/caderno.png" alt="PassCraft Logo">
                        <span>Gerar senha</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="/static/components/images/lixeira_azul.png" alt="PassCraft Logo">
                        <span data-bs-toggle="modal" data-bs-target="#apagarModal">
                            Apagar conta
                        </span>
                    </a>
                </li>
                <li class="logout">
                    <a>
                        <img src="/static/components/images/sair-rosa2.png" alt="PassCraft Logo">
                        <span data-bs-toggle="modal" data-bs-target="#sairModal">
                            Sair
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main--content">
            <div class="header--wrapper">
                <div class="header--title">
                    <span>Gerar</span>
                    <h2>Senha</h2>
                </div>
                <div class="user--info">
                    <div>
                        <span><span>Olá,</span>
                        </span>
                    </div>
                    <div>
                        <span><b>
                                <h3>{{ nome_usuario }}</h3>
                            </b></span>
                    </div>
                </div>
            </div>
            <form action="/painel-generate-password" method="post" class="card--wrapper">
                <div class="card--container">
                    <div class="senha-nome-box">
                        <h3 class="main--title">Nome da senha</h3>
                        <input type="text" name="senha_nome" value="{{ senha_nome }}">
                    </div>

                    <div class="card--wrapper">
                        <img src="/static/components/images/logo.svg" alt="PassCraft logo">
                        <div>
                            <!-- senha gerada -->
                            <div class="password-box">
                                <input type="text" name="senha_gerada" value="{{ password }}">
                                <i class="uil uil-copy copy-icon"></i>
                            </div>
                            <!-- range quantidade de caracteres -->
                            <div class="range-box">
                                <input type="range" id="tamanho" name="tamanho" min="6" max="40"
                                    value="{{ tamanho_range }}" />
                                <span class="slider-number">{{ tamanho_range }}</span>
                            </div>
                            <!-- opções da senha -->
                            <div class="options-box">
                                <input type="checkbox" id="maius" name="maius" {{ maius_checked }}><label
                                    for="mauis">ABC</label>
                                <input type="checkbox" id="minus" name="minus" {{ minus_checked }}><label
                                    for="minus">abc</label>
                                <input type="checkbox" id="especial" name="especial" {{ especial_checked }}><label
                                    for="especial">#&$</label>
                                <input type="checkbox" id="numeros" name="numeros" {{ numeros_checked }}><label
                                    for="numeros">123</label>
                            </div>
                        </div>
                        <button id="gerar-senha" type="submit" name="action" value="gerar-senha"
                            class="btn btn-secondary btn-lg btn-interno">Gerar
                            senha</button>
                        <button id="salvar-senha" type="submit" name="action" value="salvar-senha"
                            class="btn btn-secondary btn-lg salvar-senha btn-interno">Salvar</button>
                    </div>
                </div>
            </form>


        </div>

    </main>
    <footer class="rodape">
        <div> Ícones feitos por <a href="https://www.flaticon.com/br/autores/smashicons" title="Smashicons"> Smashicons
            </a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com'</a></div>
        <a href="https://www.flaticon.com/br/icones-gratis/senha" title="senha ícones">Senha ícones criados por
            Smashicons - Flaticon</a>
        <div> Design e recursos por <a href="https://www.codingnepalweb.com/" title="CodingNepalWeb">CodingNepalWeb</a>,
            <a href="https://www.codeinfoweb.com/" title="CodeInfoWeb">CodeInfoWeb</a> e <a
                href="https://youtu.be/llF6vD-RljE?si=YZuItO9mZnJ1et6f" title="Rafaella Ballerini
            ">Rafaella Ballerini
            </a>
        </div>
    </footer>
    <div class="circle"></div>
    <!-- Modal -->
    <div class="modal fade" id="apagarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Excluir sua conta na PassCraft?
                </div>
                <form action="/delete_account">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                        <button class="btn btn-primary" type="submit">Sim</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="sairModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Sair da conta na PassCraft?
                </div>
                <form action="/logout">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                        <button class="btn btn-primary" type="submit">Sim</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        const passwordInput = document.querySelector(".password-box input"),
            copyIcon = document.querySelector(".password-box .copy-icon"),
            rangeInput = document.querySelector(".range-box input"),
            sliderNumber = document.querySelector(".range-box .slider-number");

        rangeInput.addEventListener("input", () => {
            sliderNumber.innerText = rangeInput.value;
            generatePassword();
        });
        copyIcon.addEventListener("click", () => {

            navigator.clipboard.writeText("{{ password }}");
            copyIcon.classList.replace("uil-copy", "uil-file-check-alt"); //replace icon
        });

    </script>
</body>

</html>